<div class="graph__filters">
  <button
    (click)="setActive('euro')"
    [class.graph__filter--active]="activeFilter === 'euro'"
  >
    <fa-icon [icon]="euroIcon"></fa-icon>
    Euro</button
  ><button
    (click)="setActive('electricity')"
    [class.graph__filter--active]="activeFilter === 'electricity'"
  >
    <fa-icon [icon]="electricityIcon"></fa-icon>
    Stroom</button
  ><button
    (click)="setActive('gas')"
    [class.graph__filter--active]="activeFilter === 'gas'"
  >
    <fa-icon [icon]="gasIcon"></fa-icon>
    Gas
  </button>
</div>

<div class="graph__filters">
  <button>Dagen</button>
  <button class="graph__filter--active">Maanden</button>
  <button>Jaren</button>
</div>

<div #containerRef class="graph__container">
  <ngx-charts-bar-vertical
    *ngIf="activeFilter === 'gas'"
    [legend]="false"
    [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
    [scheme]="colorSchemeGas"
    [results]="gas"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabelGas"
  >
  </ngx-charts-bar-vertical>
  <ngx-charts-bar-vertical-2d
    *ngIf="activeFilter === 'electricity'"
    legendTitle=""
    [legend]="true"
    [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
    [scheme]="colorSchemeElectricity"
    [results]="electricity"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabelElectricity"
    [barPadding]="4"
    [groupPadding]="8"
  >
  </ngx-charts-bar-vertical-2d>
</div>
